.micontainer{
    margin-left: 350px;
}

.mititulo{
    font-size: 18pt;
    text-align:center;
}

.footer_social{
    font-size: 14pt;
    margin-bottom: 5px;
}

.footer_address{
    
    font-size: 14pt;
}

.img_max{
    
    width:100%;
    height: auto;

}
.jumbotron{
    margin-bottom:auto;
    background: linear-gradient(90deg, 
                                rgba(2,0,36,1) 0%,
                                rgba(9,9,121,1) 30%,
                                rgba(0,212,255,1) 100%);
    
}
.btn-reserva{
     width:100%;
     margin-bottom:10px;
  
}

.card-hotel{
    flex:1 200px;
    padding:2px 5px 2px 5px;
    margin-top:5px;
    margin-bottom:10px;
    margin-right:15px;
    border:4px ridge rgba(122, 54, 231, 0.938);
}
.modal-text{
    font-size:18pt;
    font-family:'Arial';

}